<div class="container-fluid" style="background-color: #ccc; padding-bottom: 15%;"><a name="top"></a>
 
   <div class = "row">
      <div class="col-md-8" style="padding-top:15%">
         <h1 style="padding-top:15%; text-align:center; color: white;"><strong>{{page.title}}</strong></h1>
         <hr style="background-color: white;"><div style="text-align:center;">
         <h5 style="text-align:center; color: white;">{{page.subtitle}}</h5>
         </div></div>
      <div class="col-md-4" style="padding-top:15%">
   {% include vimeoPlayer.html id=page.vimeoId %}
      </div>

   </div>
</div>
</div>
