<div class="container-fluid" style="background-color: #ccc; padding-bottom: 5%;"><a name="top"></a><h1 style="padding-top:15%; text-align:center; color: white;"><strong>{{page.title}}</strong></h1>
  <h5 style="text-align:center; color: white;">{{page.subtitle}}</h5>
  <div class="container" style="padding-bottom:5%">
  <hr style="background-color: white;"><div style="text-align:center;">
    <button type="button" class="btn btn-dark btn-lg"><a href="https://github.com/lee-perry/learnosh" target="_blank" style="color:white; text-decoration:none;"><i class="fab fa-github" aria-hidden="true"></i> Repo</a></button>
    <button type="button" class="btn btn-dark btn-lg"><a href="https://twitter.com/learnosh" target="_blank" style="color:white; text-decoration:none;"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a></button>
    <button type="button" class="btn btn-success btn-lg"><a href="https://www.facebook.com/learnosh/" target="_blank" style="color:white; text-decoration:none;"><i class="fab fa-facebook-f" aria-hidden="true"></i> Facebook</a></button>
    <a name="about"></a>
    </div>
</div>
</div>
