---
layout: default
---
            <div class="container">
            <section class="archive-post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h2>{{ currentDate }}</h2>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

<h2>Latest Thoughts</h2>
                                                       <ul>
    {% for post in site.posts offset:0 limit:5 %}
   <li>
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.categories | last }} - {{ post.date | date: "%d %B %Y" }}
  </li>
{% endfor %}
                                                         <li><a href="https://learnosh.co.uk/articles/">View all articles</a></li>
                                                       </ul>

</section>
</div>
