---
layout: default
---

<div class="container" style="background-color: white; padding-top: 5%; padding-bottom: 5%">
  <div class="row">
    <div class="col-sm-4"><img src="/images/learnosh.jpg" width="90%" alt="About LearnOSH">
    <hr>
  <h2>Latest Thoughts</h2>
                                                       <ul>
    {% for post in site.posts offset:0 limit:5 %}
   <li>
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.categories | last }} - {{ post.date | date: "%d %B %Y" }}
  </li>
{% endfor %}
                                                         <li><a href="https://learnosh.co.uk/articles/">View all articles</a></li>
                                                       </ul></div>
  <div class="col-sm-8">    
   <p>Through publishing information about health and safety and fire life safety management.  We aim to help build better health and safety practitioners, and to promote sensible, pragmatic and effective health and safety management by employers, and those organising public events.
     <div class="row">
  <div class="col-sm-6">
    <h6><a href="/law/">Health & Safety Law</a></h6>
     <ul>
       <li>.</li>
    </ul>
    <h6><a href="/management">Health & Safety Management</a></h6>
     <ul>
       <li>.</li>
    </ul>
       </div>
  <div class="col-sm-6">
    <h6><a href="/health">Occupational Health</a></h6>
     <ul>
       <li>.</li>
    </ul>
    <h6><a href="/safety">Occupational Safety</a></h6>
     <ul>
       <li>.</li>
    </ul>
    <h6><a href="/fire">Fire Life Safety</a></h6>
     <ul>
       <li>.</li>
    </ul>
     </div>
       
    </div>
    </div>
  </div>

</div>
    <a name="start"></a>
</div>
<div class="container-fluid" style="background-color: black; padding-top: 5%; padding-bottom: 5%">

<div class="container">
  <h2 style="color:white">Start here</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Student / Practitioners</h4>
        <p class="card-text">Start here to find our material to assist you on your way through your studies.</p>
        <a href="#" class="btn btn-dark">Study Guides</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Employers</h4>
        <p class="card-text">Start here to find our guides to managing health and safety for businesses</p>
        <a href="#start" class="btn btn-dark">Employer Guides</a>
      </div>
    </div>
  </div>
</div>
  <div>&nbsp;</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Employees</h4>
        <p class="card-text">Discover all about your employer's resposibity for your health and safety, and your responsibilities to yourself and those around you while making your way through our free guide to the IOSH <em>Working Safely</em> course.</p>
        <a href="#start" class="btn btn-dark">Coming Soon</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Knowledgebase</h4>
        <p class="card-text">Start here to explore our occupational health and safety wiki and case note library</p>
        <a href="/wiki" class="btn btn-dark">Wiki</a>
<a name="contact"></a>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

<div class="container" style="background-color: white; padding-top: 5%; padding-bottom: 5%">
  <h2>Talk to us</h2>
  <p>Tell us a little about how you are getting on, and how we can help.</p>
  
  <form id="contact-form" method="post" action="https://formspree.io/lzperry@icloud.com" role="form">
    <div class="messages"></div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">First Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">Last Name *</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_phone">Phone</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-dark btn-send" value="Send message">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> These fields are required.</p>
            </div>
        </div>
    </div>
</form>
  
</div>
