---
layout: default
---

<div class="container" style="background-color: white; padding-top: 5%; padding-bottom: 5%">
  <h2><strong>About Learnosh</strong></h2>
  <div class="row">
    <div class="col-sm-4"><img src="/images/learnosh.jpg" width="90%"></div>
  <div class="col-sm-8">    
   <p>Through publishing information about health and safety and fire life safety management.  We aim to help build better health and safety practitioners, and to promote sensible, pragmatic and effective health and safety management by employers, and those organising public events.
     <div class="row">
  <div class="col-sm-6">
    <h6>Health & Safety Law</h6>
     <ul>
       <li>.</li>
    </ul>
    <h6>Health & Safety Management</h6>
     <ul>
       <li>.</li>
    </ul>
       </div>
  <div class="col-sm-6">
    <h6>Occupational Health</h6>
     <ul>
       <li>.</li>
    </ul>
     <h6>Occupational Safety</h6>
     <ul>
       <li>.</li>
    </ul>
    <h6>Fire Life Safety</h6>
     <ul>
       <li>.</li>
    </ul>
     </div>
       
    </div>
    </div>
    

</div>
    <a name="start"></a>
</div>
<div class="container-fluid" style="background-color: black; padding-top: 5%; padding-bottom: 5%">

<div class="container">
  <h2 style="color:white">Start here</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Student / Practitioners</h4>
        <p class="card-text">Start here to find our material to assist you on your way through your studies.</p>
        <a href="#" class="btn btn-dark">Study Guides</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Employers</h4>
        <p class="card-text">Start here to find our guides to managing health and safety for businesses</p>
        <a href="#" class="btn btn-dark">Employer Guides</a>
      </div>
    </div>
  </div>
</div>
  <div>&nbsp;</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Employees</h4>
        <p class="card-text">Start here to find out about your employers resposibity for your health and safety, and your responsibilities to those around you.</p>
        <a href="#" class="btn btn-dark">Employee Guides</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Knowledgebase</h4>
        <p class="card-text">Start here to explore our occupational health and safety wiki and case note library</p>
        <a href="#" class="btn btn-dark" target="_blank">Wiki</a>
<a name="contact"></a>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

